/AULA09PRATICA05exerc01/nbproject/private/
/AULA09PRATICA05exerc01/build/
/AULA09PRATICA05exerc02/nbproject/private/
/AULA09PRATICA05exerc02/build/
/AULA9PRATICA05exerc03/nbproject/private/
/AULA9PRATICA05exerc03/build/
/AULA09PRATICA05exerc04/nbproject/private/
/AULA09PRATICA05exerc04/build/