body .content{
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
   
}
body .content3{
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
body .meio{
    width: 140px;
    height: 140px;
    color: red;
}
h1{
    color: red;
}
   
h2{
    color:#cc0000;
}