/PRATICA 4/ATIVIDADE01/nbproject/private/
/PRATICA 4/ATIVIDADE01/build/
/PRATICA 4/JavaApplication14/nbproject/private/
/PRATICA 4/ATIVIDADE02/nbproject/private/
/PRATICA 4/ATIVIDADE02/build/
/PRATICA 4/ATIVIDADE03/nbproject/private/
/PRATICA 4/ATIVIDADE03/build/
/PRATICA 1/ATIVIDADE01/nbproject/private/
/PRATICA 1/ATIVIDADE01/build/
/PRATICA 1/ATIVIDADE02/nbproject/private/
/PRATICA 1/ATIVIDADE02/build/
/PRATICA 1/ATIVIDADE03/nbproject/private/
/PRATICA 1/ATIVIDADE03/build/
/PRATICA 1/ATIVIDADE04/nbproject/private/
/PRATICA 1/ATIVIDADE04/build/